/* your styles go here */

.profile-img {
  width: 350px;
  height: 500px;
}

.portfolio-img {
  width: 200px;
  height: 350px;
}

.page-color {
  color: #5091da;
}

.width-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.width-80 {
  width: 90%;
}

.margin-left {
  margin-left: 7rem;
}

.contact-width {
  width: 25%;
}

.container-portfolio {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .width-50 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.resume-button {
  width: 15%;
}
}
