/* your styles go here */

.profile-img {
  width: 350px;
  height: 500px;
}

.portfolio-img {
  width: 200px;
  height: 350px;
  margin: auto
}

.page-color {
  color: #5091da;
}

.width-80 {
  width: 90%;
}

.margin-left {
  margin-left: 7rem;
}

.contact-width {
  width: 25%;
}

.container-portfolio {
  display: flex;
  justify-content: center;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}

.delay {
  animation-delay: 4s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media screen and (min-width: 600px) {
  .width-50 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.resume-button {
  width: 15%;
}
}
